<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-403">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Precision RX Compounding</span>
      <h2 class="cs-title">Precision Care for Every Patient</h2>
      <p class="cs-text">
        Talk to one of our compounding pharmacists today — no automated systems,
        no runaround.
      </p>
      <button
        href="{{client.phoneForTel}}"
        class="button"
        style="--clr: #7808d0"
      >
        <span class="button__icon-wrapper">
          <svg
            viewBox="0 0 14 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="button__icon-svg"
            width="10"
          >
            <path
              d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
              fill="currentColor"
            ></path>
          </svg>

          <svg
            viewBox="0 0 14 15"
            fill="none"
            width="10"
            xmlns="http://www.w3.org/2000/svg"
            class="button__icon-svg button__icon-svg--copy"
          >
            <path
              d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
              fill="currentColor"
            ></path>
          </svg>
        </span>
        Call Now
      </button>
    </div>
  </div>
  <!--Background Image-->
  <picture class="cs-background">
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/call-now-m.webp"
    />
    <source media="(min-width: 601px)" srcset="/assets/images/call-now.webp" />
    <img
      loading="lazy"
      decoding="async"
      src="/assets/images/call-now.webp"
      alt="Call Precision RX Now"
      width="1920"
      height="660"
      aria-hidden="true"
    />
  </picture>
</section>
