<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
  <div class="cs-container">
    <!--Nav Logo-->
    <!--Logo is turned white in the css with a filter on dark mode-->
    <a href="/" class="cs-logo" aria-label="Return to Home">
      <img
        src="/assets/images/logo.png"
        alt="logo"
        width="210"
        height="29"
        aria-hidden="true"
        decoding="async"
      />
    </a>
    <!--Navigation List-->
    <nav class="cs-nav" role="navigation">
      <!--Mobile Nav Toggle-->
      <button class="cs-toggle" aria-label="mobile menu toggle">
        <div class="cs-box" aria-hidden="true">
          <span class="cs-line cs-line1" aria-hidden="true"></span>
          <span class="cs-line cs-line2" aria-hidden="true"></span>
          <span class="cs-line cs-line3" aria-hidden="true"></span>
        </div>
      </button>
      <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
      <div class="cs-ul-wrapper">
        <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
          <li class="cs-li">
            <a href="/" class="cs-li-link {% if page.url == '/' %} cs-active {% endif %}">
    Home
</a>
          </li>
          <li class="cs-li">
            <a href="/about" class="cs-li-link {% if page.url == '/about/' %} cs-active {% endif %}">
    About
</a>
          </li>
          <!--Copy and paste this cs-dropdown list item and replace any .cs-li with this cs-dropdown group to make a new dropdown and it will work-->
          <li class="cs-li cs-dropdown" tabindex="0">
            <span class="cs-li-link cs-dropdown-toggle">
              Common Compounds
              <img
                class="cs-drop-icon"
                src="/assets/svgs/down.svg"
                alt="dropdown icon"
                width="15"
                height="15"
                decoding="async"
                aria-hidden="true"
              />
            </span>
            <ul class="cs-drop-ul">
              <li class="cs-drop-li">
                <a href="/hormone-replacement-therapy" class="cs-li-link cs-drop-link {% if page.url == '/hormone-replacement-therapy/' %} cs-active {% endif %}">
    Hormone Replacement Therapy (HRT)
</a>
              </li>
              <li class="cs-drop-li">
                <a href="/womens-health" class="cs-li-link cs-drop-link {% if page.url == '/womens-health/' %} cs-active {% endif %}">
    Women's Health
</a>
              </li>
              <li class="cs-drop-li">
                <a href="/mens-health" class="cs-li-link cs-drop-link {% if page.url == '/mens-health/' %} cs-active {% endif %}">
    Men's Health
</a>
              </li>
              <li class="cs-drop-li">
                <a href="/pain-management" class="cs-li-link cs-drop-link {% if page.url == '/pain-management/' %} cs-active {% endif %}">
    Pain Management
</a>
              </li>
              <li class="cs-drop-li">
                <a href="/dermatology" class="cs-li-link cs-drop-link {% if page.url == '/dermatology/' %} cs-active {% endif %}">
    Dermatology
</a>
              </li>
              <li class="cs-drop-li">
                <a href="/pediatric-medicine" class="cs-li-link cs-drop-link {% if page.url == '/pediatric-medicine/' %} cs-active {% endif %}">
    Pediatric Medicine
</a>
              </li>
              <li class="cs-drop-li">
                <a href="/ent-compounding" class="cs-li-link cs-drop-link {% if page.url == '/ent-compounding/' %} cs-active {% endif %}">
    ENT Compounding
</a>
              </li>
              <li class="cs-drop-li">
                <a href="/dental-compounding" class="cs-li-link cs-drop-link {% if page.url == '/dental-compounding/' %} cs-active {% endif %}">
    Dental Compounding
</a>
              </li>
              <li class="cs-drop-li">
                <a href="/veterinary-medicine" class="cs-li-link cs-drop-link {% if page.url == '/veterinary-medicine/' %} cs-active {% endif %}">
    Veterinary Medicine
</a>
              </li>
            </ul>
          </li>
          <li class="cs-li">
            <a href="/for-prescribers" class="cs-li-link {% if page.url == '/for-prescribers/' %} cs-active {% endif %}">
    For Prescribers
</a>
          </li>
          <li class="cs-li">
            <a href="/blog" class="cs-li-link {% if page.url == '/blog/' %} cs-active {% endif %}">
    Insights
</a>
          </li>
          <li class="cs-li">
            <a href="/contact" class="cs-li-link {% if page.url == '/contact/' %} cs-active {% endif %}">
    Contact
</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="cs-contact-group">
      <a href="tel:{{client.phoneForTel}}" class="cs-phone">
        <img
          class="cs-phone-icon"
          src="/assets/svgs/phone-1.svg"
          alt="logo"
          width="24"
          height="24"
          aria-hidden="true"
          decoding="async"
        />
        {{client.phoneFormatted}}
      </a>
      <div class="cs-social">
        <a
          href="{{client.socials.facebook}}"
          target="_blank"
          class="cs-social-link"
          aria-label="social media link"
        >
          <img
            class="cs-social-icon"
            src="/assets/svgs/facebook-1.svg"
            alt="logo"
            width="12"
            height="12"
            aria-hidden="true"
            decoding="async"
          />
        </a>
        <a
          href="{{client.socials.instagram}}"
          class="cs-social-link"
          aria-label="social media link"
        >
          <img
            class="cs-social-icon"
            src="/assets/svgs/instagram-1.svg"
            alt="logo"
            width="12"
            height="12"
            aria-hidden="true"
            decoding="async"
          />
        </a>
        <a href="{{client.socials.tiktok}}" class="cs-social-link" aria-label="social media link">
          <img
            class="cs-social-icon"
            src="/assets/svgs/tiktok-1.svg"
            alt="logo"
            width="12"
            height="12"
            aria-hidden="true"
            decoding="async"
          />
        </a>
      </div>
    </div>
  </div>
</header>
