---
title: "About | Code Stitch Web Designs"
description: "Meta description for the page"
permalink: "/about/"
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="preload" as="image" href="/assets/images/header.webp" />
<link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-2285">
  <div class="cs-container">
    <span class="cs-int-title">About</span><br />
    <div class="cs-breadcrumbs">
      <a href="/" class="cs-link">Home</a>
      <a href="" class="cs-link cs-active">About</a>
    </div>
  </div>
  <!--Background Image-->
  <picture class="cs-background">
    <!--Mobile Image-->
    <source media="(max-width: 600px)" srcset="/assets/images/header.webp" />
    <!--Tablet and above Image-->
    <source media="(min-width: 601px)" srcset="/assets/images/header.webp" />
    <img
      decoding="async"
      src="/assets/images/header.webp"
      alt="Prescription RX Header"
      width="1280"
      height="568"
      aria-hidden="true"
    />
  </picture>
</div>

{% include 'sections/cta.html' %} {% endblock %}
