// ─────────────────────────────────────────────────────────────────────────────
// PAGE STYLES
// Interior pages have their own stylesheet for styles that only exist on
// that page. Any styles shared between pages, including repeated sections,
// should go into root.less
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #banner-1534 {
        padding: var(--sectionPadding);
        /* 190px - 268px */
        padding-top: clamp(11.875rem, 25vw, 16.75rem);
        /* 100px - 150px */
        padding-bottom: clamp(6.25rem, 12vw, 9.375rem);
        /* clips the line from causing overflow issues for going off screen */
        overflow: hidden;
        position: relative;
        z-index: 1;
        
        .cs-container {
            text-align: center;
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            /* 8px - 12px */
            gap: clamp(.5rem, 1vw, .75rem);
        }
    
        .cs-int-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            color: var(--headercolor);
            position: relative;
        }

        .cs-breadcrumbs {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-link {
            font-size: (16/16rem);
            line-height: 1.2em;
            text-decoration: none;
            color: var(--bodyTextColor);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &:last-of-type {
                /* remove the chevron on the last list item */
                &::after {
                    display: none;
                }
            }

            &:after {
                /* chevron */
                content: '';
                width: (7/16rem);
                height: (12/16rem);
                margin: 0 (16/16rem);
                background: url("/assets/svgs/grey-chevron.svg");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                display: block;
            }

            &.cs-active {
                color: var(--primary);
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* gradient overlay */
                content: '';
                width: 100%;
                height: 100%;
                background: #FFF3EC;
                opacity: .8;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }

        .cs-mask {
            --maskBG: #ffffff;

            width: 100%;
            height: auto;
            display: block;
            position: absolute;
            bottom: -1px;
            left: 0;
            z-index: 100;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #banner-1534 {
        .cs-background {
            &:before {
                width: 100%;
                height: 100%;
                background: linear-gradient(90deg, rgba(255, 243, 236, 0.90) 23.05%, rgba(255, 243, 236, 0.00) 80.08%);
                opacity: 1;
            }
        }
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-419 {
        background-color: #fafafa;
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (522/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            font-size: clamp(1.4375rem, 4.4vw, 3.025rem);
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-group {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: (16/16rem);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-button-transparent {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: var(--primary);
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: transparent;
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition:
                color 0.3s,
                border-color 0.3s,
                background-color 0.3s;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                border-color: #000;
                background-color: #000;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            width: 100%;
            /* changes to 650px at desktop */
            max-width: (550/16rem);
            height: auto;
            /* removed at desktop */
            padding-top: (30/16rem);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;
            order: -1;
        }

        .cs-info {
            /* 12px - 20px */
            padding: clamp(0.75rem, 1.5vw, 1.25rem);
            /*260px - 360px */
            min-width: clamp(16.25rem, 30vw, 22.5rem);
            background-color: #fff;
            border: 1px solid #b4b2c7;
            border-radius: (12/16rem);
            box-shadow: 0 12px 28px -8px rgba(0, 0, 0, 0.4);
            box-sizing: border-box;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: absolute;
            /* next two properties centers it horizontally */
            left: 50%;
            transform: translateX(-50%);
            bottom: (20/16rem);
        }

        .cs-icon {
            /* 32px - 48px */
            width: clamp(2rem, 4vw, 3rem);
            height: auto;
            margin-right: (12/16rem);
        }

        .cs-header {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.5vw, 1.25rem);
            font-weight: 700;
            line-height: 1.2em;
            margin-bottom: (4/16rem);
            color: var(--headerColor);
            display: block;
        }

        .cs-desc {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.2em;
            color: var(--bodyTextColor);
        }

        .cs-picture {
            width: 85%;
            max-width: (558/16rem);
            margin-bottom: (40/16rem);
            border-radius: (12/16rem);
            /* removed at tablet */
            aspect-ratio: 272/269;
            /* clips img corners */
            overflow: hidden;
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it act like a background image */
                object-fit: cover;
            }
        }

        .cs-trapezoid {
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            /* flips it horizontally */
            transform: scaleX(-1);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbsr-419 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
        }

        .cs-content {
            width: 50%;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-image-group {
            max-width: (659/16rem);
            /* sends it to the right in the 2nd position */
            order: 2;
        }

        .cs-picture {
            /* 269px - 496px changes at desktop */
            height: clamp(16.8125rem, 35vw, 31rem);
            aspect-ratio: none;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-419 {
        .cs-container {
            align-items: center;
        }

        .cs-image-group {
            max-width: (650/16rem);
            padding: 0;
        }

        .cs-picture {
            /* 421px - 496px changes at desktop */
            height: clamp(26.3125rem, 40vw, 31rem);
        }

        .cs-info {
            left: (18/16rem);
            transform: none;
        }

        .cs-trapezoid {
            height: 80%;
            bottom: 0;
        }
    }
}

                                
                            
/*-- -------------------------- -->
<---        Content Page        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    @keyframes floatAnimation {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-2rem);
        }
        100% {
            transform: translateY(0);
        }
    }

    @keyframes floatAnimation2 {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-3rem);
        }
        100% {
            transform: translateY(0);
        }
    }

    #content-page-1534 {
        padding: var(--sectionPadding);
        background-color: #fff;
        /* clips the wave background from causing overflow issues when it goes off screen */
        overflow: hidden;
        position: relative;
        z-index: 1;
        
        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 40px - 64px */
            gap: clamp(2.5rem, 4vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (738/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }
    
        .cs-title {
            font-size: var(--headerFontSize);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            width: 100%;
            max-width: 100%;
            margin: 0 0 (16/16rem) 0;
            color: var(--headerColor);
            position: relative;
        }

        h2, h3, h4, h5, h6 {
            font-weight: 700;
            text-align: inherit;
            margin: 0 0 (16/16rem) 0;
            color: var(--headerColor);
        }

        h2 {
            font-size: (32/16rem);
            margin-top: (32/16rem);
        }

        h3 {
            font-size: (24/16rem);
            color: var(--primary);
        }

        h4, h5, h6 {
            font-size: (20/16rem);
        }

        .cs-button-solid {
            margin-bottom: (32/16rem);
        }

        .cs-no-margin {
            margin: 0;
        }

        .cs-color {
            color: var(--primary);
        }
    
        p {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            margin: 0 0 (16/16rem) 0;
            color: var(--bodyTextColor);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }

            a {
                font-size: inherit;
                line-height: inherit;
                text-decoration: underline;
                color: var(--primary);
                filter: brightness(120%);
            }
        }

        ol, ul {
            padding-left: (24/16rem);
            margin: 0 0 (32/16rem) 0;
            color: var(--bodyTextColor);
            display: flex;
            flex-direction: column;
            gap: (16/16rem);
        }

        ul {
            li {
                list-style: none;
                color: inherit;
                position: relative;

                &:before {
                    /* custom list bullet */
                    content: '';
                    width: 3px;
                    height: 3px;
                    background: currentColor;
                    opacity: 1;
                    border-radius: 50%;
                    position: absolute;
                    display: block;
                    top: (10/16rem);
                    left: (-12/16rem);
                }
            }
        }

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        .cs-image-group {
            width: (522/16em);
            height: (540/16em);
            display: none;
            position: relative;
            z-index: 1;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            border-radius: (40/16em);
            /* clips the corners of the children around the border radius */
            overflow: hidden;
            /* makes it cover the parent dimensions */
            object-fit: cover;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                /* makes it cover the parent like a backgorund image */
                object-fit: cover;
                display: block;
            }
        }

        .cs-flower {
            width: (153/16em);
            height: auto;
            position: relative;
            left: (-32/16em);
            top: (-36/16em);
            z-index: 10;
        }

        .cs-floater {
            width: (710/16em);
            height: auto;
            position: absolute;
            right: (150/16em);
            top: (400/16em);
            z-index: -1;
            animation-name: floatAnimation2;
            animation-duration: 14s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #content-page-1534 {
        .cs-container {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
        }

        .cs-content {
            width: 60%;
            max-width: (694/16rem);
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-image-group {
            font-size:~"min(1.3vw, 1em)";
            display: block;
        }
    }
}

/* Desktop - 1200px */
@media only screen and (min-width: 75rem) {
    #content-page-1534 {

        .cs-content {
            width: 53%;
        }
    }
}
                                