// ─────────────────────────────────────────────────────────────────────────────
// HOME PAGE STYLES
// Below-the-fold styles for the homepage that load after critical styles.
// The first section of the home page should go in critical.less, while the
// rest of the home page styles go in here.
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-1309 {
    padding: var(--sectionPadding);
    background-color: #fafafa;
    overflow: hidden;

    .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: (584/16rem);
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: clamp(3rem, 4vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: (542/16rem);
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
      position: relative;
      z-index: 10;
    }

    .cs-text {
      margin-bottom: (16/16rem);
      &:last-of-type {
        margin-bottom: (32/16rem);
      }
    }

    .cs-title {
      font-size: (48/16rem);
    }

    .cs-ul {
      width: 100%;
      padding: 0;
      /* 32px - 48px */
      margin: clamp(2rem, 5vw, 3rem) 0 0 0;
      /* 32px - 48px */
      padding: clamp(2rem, 5vw, 3rem) 0 0 0;
      border-top: 1px solid #e8e8e8;
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: (12/16rem);
    }

    .cs-item {
      list-style: none;
      width: 32%;
      /* making flex so we can align a heading with 1 line to the bottom */
      display: flex;
      flex-direction: column;
      align-self: stretch;
      align-content: space-between;
    }

    .cs-number {
      font-size: (25/16rem);
      line-height: 1.2em;
      font-weight: 700;
      text-align: left;
      color: var(--primary);
      display: block;
      margin: 0 0 (8/16rem) 0;
    }

    .cs-h3 {
      font-size: (16/16rem);
      line-height: 1.5em;
      font-weight: 400;
      text-align: left;
      /* auto margin top will push text to bottom if there's only one line */
      margin: 0;
      color: var(--bodyTextColor);
    }

    .cs-image-group {
      width: 100%;
      max-width: (670/16rem);
      height: 100vw;
      max-height: (630/16rem);
      position: relative;
      display: block;
      z-index: 1;
    }

    .cs-picture {
      /* big background image */
      width: 93%;
      height: 93%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      img {
        position: absolute;
        border-radius: 1rem;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .cs-box {
      text-align: left;
      width: 70%;
      max-width: (304/16rem);
      /* 20px - 40px */
      padding: clamp(1.25rem, 4vw, 2.5rem);
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      background-color: #1a1a1a;
      display: inline-flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: (8/16rem);
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 10;
    }

    .cs-desc {
      /* 16px - 31px */
      font-size: clamp(1rem, 2.5vw, 1.3rem);
      line-height: 1.2em;
      font-weight: 700;
      text-align: inherit;
      width: 100%;
      color: var(--bodyTextColorWhite);
      position: relative;
      z-index: 10;
    }

    .cs-graphic {
      width: 150%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-1309 {
    .cs-container {
      max-width: (1280/16rem);
      /* set to horizontal arrangement */
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }

    .cs-content {
      width: 48%;
      padding: (48/16rem) 0;
      align-self: center;
      /* prevents flexbox from squishing it */
      flex: none;
    }

    .cs-image-group {
      width: 55%;
      max-width: (670/16rem);
      min-height: (670/16rem);
      max-height: 100%;
      height: auto;
      margin: 0;
      /* sends it to the right in the second position */
      order: 2;
    }

    .cs-picture {
      width: 93%;
      height: 94%;
      left: auto;
      right: 0;
    }

    .cs-box {
      bottom: (0/16rem);
      right: auto;
      left: 0;
    }

    .cs-graphic {
      max-width: (715/16rem);
      left: auto;
      right: (130/16rem);
      transform: translateY(-50%);
    }
  }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1303 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 10;

    .cs-container {
      width: 100%;
      max-width: (1280/16rem);
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-title {
      max-width: 20ch;
    }

    .cs-card-group {
      width: 100%;
      max-width: (1280/16rem);
      margin: 0;
      padding: 0 (16/16rem);
      /* prevents padding and border from affecting height and width */
      background-color: #fff;
      box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.05);
      box-sizing: border-box;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      position: relative;
      z-index: 15;
    }

    .cs-item {
      text-align: left;
      list-style: none;
      width: 100%;
      border-bottom: 1px solid #e8e8e8;
      box-sizing: border-box;
      grid-column: span 12;
      transition:
        background-color 0.3s,
        border-color 0.3s;

      &:last-of-type {
        border-bottom: none;
      }
    }

    .cs-link {
      text-decoration: none;
      /* 24px - 60px top & Bottom */
      /* 24px - 16px top & Bottom */
      padding: clamp(1.5rem, 5.3vw, 3.75rem) clamp(1rem, 2.7vw, 2.5rem);
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }

    .cs-icon {
      /* 32px - 40px */
      height: clamp(2rem, 4vw, 2.5rem);
      width: auto;
      margin: 0 0 (16/16rem) 0;
    }

    .cs-h3 {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2vw, 1.5625rem);
      font-weight: 700;
      text-align: inherit;
      line-height: 1.2em;
      margin: 0 0 (12/16rem) 0;
      color: var(--headerColor);
      transition: color 0.3s;
    }

    .cs-item-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      text-align: inherit;
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
      transition:
        color 0.3s,
        opacity 0.3s;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1303 {
    .cs-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: (48/16rem);
    }

    .cs-title {
      margin: 0;
    }

    .cs-flex-group {
      width: 50%;
      /* prevents flexbox from squishing it */
      flex: none;
    }

    .cs-item {
      grid-column: span 4;
      border-right: 1px solid #e8e8e8;

      &:nth-of-type(3),
      &:nth-of-type(6) {
        border-right: none;
      }

      &:nth-of-type(4),
      &:nth-of-type(5) {
        border-bottom: none;
      }
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-1303 {
    .cs-card-group {
      padding: 0;
    }

    .cs-item {
      &:hover {
        background-color: #1a1a1a;
        border-color: #1a1a1a;

        .cs-icon {
          filter: brightness(0) invert(1);
        }

        .cs-h3,
        .cs-item-text {
          color: var(--bodyTextColorWhite);
        }

        .cs-item-text {
          opacity: 0.8;
        }
      }

      &:last-of-type {
        border: none;
      }
    }
  }
}

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-1071 {
    padding: var(--sectionPadding);
    background-color: var(--primary);
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      max-width: (1280/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-flex {
      max-width: (630/16rem);
    }

    .cs-title {
      margin: 0;

      color: var(--bodyTextColorWhite);
    }

    .cs-button-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: (16/16rem);
    }

    .cs-button-transparent {
      font-size: (16/16rem);
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: (150/16rem);
      padding: 0 (24/16rem);
      background-color: transparent;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      transition: color 0.3s;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #fff;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:after {
        /* border */
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: transparent;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
        border: 1px solid #fff;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
        pointer-events: none;
      }

      &:hover {
        color: var(--primary);
        &:before {
          width: 100%;
        }
      }
    }

    .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      &:before {
        /* background color overlay */
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: #1a1a1a;
        opacity: 0.88;
        top: 0;
        left: 0;
        z-index: 1;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* Makes img tag act as a background image */
        object-fit: cover;
      }
    }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cta-1071 {
    .cs-content {
      text-align: left;
      flex-direction: row;
      justify-content: space-between;
    }

    .cs-button-box {
      flex-wrap: nowrap;
      align-items: center;
      flex: none;
    }
  }
}

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #steps-1290 {
    padding: var(--sectionPadding);
    position: relative;

    .cs-container {
      /* changes to 1440px at tablet */
      max-width: (550/16rem);
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      /* set text align to center if content needs to be centrally aligned */
      text-align: left;
    }

    .cs-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      max-width: (350/16rem);
      width: 100%;
      margin: 0;
      color: var(--bodyTextColor);
      text-align: inherit;
    }

    .cs-text {
      max-width: (630/16rem);
    }

    .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      /* 16px - 20px */
      gap: clamp(1rem, 2vw, 1.25rem);
    }

    .cs-item {
      list-style: none;
      background-color: #fff;
      grid-column: span 12;
      position: relative;
      z-index: 1;
      transition:
        box-shadow 0.3s,
        transform 0.3s;

      &:hover {
        transform: translateY(-0.4375rem);
        .cs-picture {
          img {
            opacity: 0.3;
            transform: scale(1.1);
          }
        }
        .cs-h3 {
          color: var(--secondary);
        }
      }

      &::after {
        content: "";
        width: (20/16rem);
        height: (80/16rem);
        margin: (16/16rem) auto;
        background-image: url(/assets/svgs/arrow-red.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 1;
        display: block;
        position: relative;
        z-index: 10;
      }

      &:nth-of-type(2) {
        &::after {
          transform: scaleX(-1);
        }
      }

      &:last-of-type {
        &::after {
          display: none;
        }
      }
    }

    .cs-link {
      text-decoration: none;
      display: block;
    }

    .cs-picture {
      width: 100%;
      height: (150/16rem);
      margin: 0 0 (12/16rem) 0;
      background-color: var(--primary);
      border-radius: (10/16rem);
      display: block;
      position: relative;
      z-index: 10;
      /* clips the img tag corners */
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        transition:
          transform 0.6s,
          opacity 0.3s;
      }
    }

    .cs-number {
      font-size: (20/16rem);
      font-weight: bold;
      width: (36/16rem);
      height: (36/16rem);
      margin: 0;
      padding: 0;
      color: #fff;
      background-color: var(--primary);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      /* prevents flexbox from squishing it */
      flex: none;
    }

    .cs-h3 {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2.2vw, 1.5625rem);
      line-height: 1.2em;
      font-weight: 700;
      word-break: break-all;
      margin: 0 0 (12/16rem) 0;
      color: var(--headerColor);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: (12/16rem);
      transition: color 0.3s;
    }

    .cs-item-text {
      /* 14px - 16px  */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
    }

    .cs-background {
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      height: 25%;
      width: 100%;
      opacity: 0.5;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #steps-1290 {
    .cs-container {
      max-width: (1440/16rem);
      gap: (100/16rem);
    }

    .cs-content {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      text-align: center;
    }

    .cs-item {
      grid-column: span 3;
      &::after {
        width: (120/16rem);
        height: (28/16rem);
        margin: 0;
        background-image: url(/assets/svgs/arrow-large.svg);
        position: absolute;
        bottom: (-40/16rem);
        left: clamp(8.5rem, 18vw, 18.5rem);
      }

      &:nth-of-type(2) {
        &::after {
          top: (-60/16rem);
          transform: rotateX(180deg);
        }
      }
    }

    .cs-background {
      top: 0;
      left: auto;
      right: 50%;
      /* 90px - 225px */
      margin-right: clamp(5.625rem, 15vw, 14.0625rem);
      height: 50%;
      width: 50vw;
    }
  }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1161 {
    padding: var(--sectionPadding);
    /* clips grpahics from causing overflow issues */
    overflow: hidden;
    background-color: #f7f7f7;

    .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: (550/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: (542/16rem);
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-text {
      margin-bottom: (16/16rem);
      &:last-of-type {
        margin-bottom: (32/16rem);
      }
    }

    .cs-ul {
      max-width: (630/16rem);
      margin: 0 0 (32/16rem) 0;
      padding: 0;
      /* clips the bullets to create the half circle */
      overflow: hidden;
    }

    .cs-li {
      list-style: none;
      margin: 0 0 (8/16rem) 0;
      color: var(--bodyTextColor);
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: (12/16rem);
      position: relative;

      &:before {
        /* bullet */
        content: "";
        width: (8/16rem);
        height: (8/16rem);
        margin-top: (8/16rem);
        background: var(--secondary);
        display: block;
        /* prevents flexbox from squishing it */
        flex: none;
      }
    }

    .cs-image-group {
      /* scales the whole group based on the view width size and stop when that vales equals .8em, resets at desktop */
      font-size: ~"min(2.15vw, .8em)";
      width: (678/16em);
      height: (588/16em);
      display: none;
      position: relative;
      z-index: 1;
    }

    .cs-picture {
      position: absolute;

      img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .cs-picture1 {
      width: (630/16em);
      height: (390/16em);
      top: 0;
      left: 0;
      z-index: 10;
    }

    .cs-picture2 {
      width: (461/16em);
      height: (300/16em);
      bottom: 0;
      right: 0;
      z-index: 10;
    }

    .cs-graphic {
      height: auto;
      position: absolute;
    }

    .cs-graphic1 {
      width: (1154/16em);
      top: (20/16em);
      right: (-60/16em);
      transform: rotate(-15deg);
    }

    .cs-box {
      width: (197/16em);
      height: (178/16em);
      padding: (8/16rem);
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      background-color: var(--primary);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      z-index: 20;
      left: 0;
      bottom: 0;
    }

    .cs-desc {
      /* 12px - 16px */
      font-size: clamp(0.75rem, 1.9vw, 1rem);
      text-align: center;
      line-height: 1.2em;
      font-weight: 700;
      width: 100%;
      max-width: 15ch;
      margin: 0;
      color: var(--bodyTextColorWhite);
      display: block;
    }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1161 {
    .cs-container {
      max-width: (1280/16rem);
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .cs-image-group {
      font-size: ~"min(1.2vw, 1em)";
      display: block;
      flex: none;
    }
  }
}

/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #faq-489 {
    padding: var(--sectionPadding);
    background: #fafbfc;

    .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: (550/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      /* 40px - 48px */
      gap: clamp(2.5rem, 5vw, 3rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-color {
      color: var(--primary);
    }
    .cs-title {
      /* 17 characters wide including spaces */
      max-width: 17ch;
    }

    .cs-text {
      /* 32px - 48px */
      margin-bottom: clamp(2rem, 3vw, 3rem);
    }

    .cs-button-solid {
      font-size: (16/16rem);
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: (150/16rem);
      padding: 0 (24/16rem);
      background-color: var(--primary);
      border-radius: (4/16rem);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: (4/16rem);
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    .cs-faq-group {
      max-width: (740/16rem);
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: (20/16rem);
    }

    .cs-faq-item {
      list-style: none;
      width: 100%;
      /* prevents border from affecting width and height */
      box-sizing: border-box;
      border: 1px solid #f1f1f4;
      transition:
        border 0.3s,
        padding 0.3s,
        border-color 0.3s;

      &:hover {
        border-color: var(--primary);
      }

      &.active {
        padding-bottom: (16/16rem);
        border-color: var(--primary);
        .cs-button {
          color: var(--primary);
          &:before {
            transform: translateY(-50%) rotate(180deg);
            opacity: 0;
            background-color: var(--primary);
          }
          &:after {
            transform: translateY(-50%) rotate(360deg);
            background-color: var(--primary);
          }
        }
        .cs-item-p {
          height: auto;
          margin-top: (8/16rem);
          opacity: 1;
        }
      }
    }

    .cs-button {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 1vw, 1.5625rem);
      line-height: 1.2em;
      text-align: left;
      font-weight: bold;
      padding: (16/16rem) (24/16rem);
      border: none;
      background: transparent;
      color: var(--headerColor);
      display: block;
      width: 100%;
      position: relative;
      transition:
        background-color 0.3s,
        color 0.3s;

      &:hover {
        cursor: pointer;
      }

      &:before {
        /* horizontal line */
        content: "";
        width: (16/16rem);
        height: (3/16rem);
        background-color: currentColor;
        opacity: 1;
        border-radius: 1px;
        position: absolute;
        display: block;
        top: 50%;
        right: (24/16rem);
        transform: translateY(-50%);
        transition:
          transform 0.5s,
          opacity 0.3s;
      }

      &:after {
        /* vertical line */
        content: "";
        width: (16/16rem);
        height: (3/16rem);
        background-color: currentColor;
        opacity: 1;
        border-radius: 1px;
        position: absolute;
        display: block;
        top: 50%;
        right: (24/16rem);
        transform: translateY(-50%) rotate(90deg);
        transform-origin: center;
        transition: transform 0.5s;
      }
    }

    .cs-button-text {
      font-family: var(--bodyFont);
      width: 80%;
      display: block;
    }

    .cs-item-p {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      width: 90%;
      height: 0;
      margin: 0;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      padding: 0 (24/16rem);
      opacity: 0;
      color: var(--bodyTextColor);
      /* clips the text so it doesn't show up */
      overflow: hidden;
      transition:
        opacity 0.3s,
        padding-bottom 0.3s;
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 48rem) {
  #faq-489 {
    .cs-container {
      max-width: (1280/16rem);
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: (52/16rem);
    }

    .cs-content {
      margin-top: (50/16rem);
    }

    .cs-title,
    .cs-topper {
      text-align: left;
      margin-left: 0;
    }

    .cs-faq-group {
      width: clamp(56%, 58vw, 58%);
      flex: none;
    }
  }
}

/*-- -------------------------- -->
<---           Quote            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #quote-2141 {
    /* 80px - 160px */
    padding: clamp(5rem, 10vw, 6rem) (16/16rem);
    background-color: #003e5e;
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      max-width: (1280/16rem);
      margin: auto;
      margin-top: (48/16rem);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
      position: relative;
    }

    .cs-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    .cs-quote-icon {
      /* 120px - 220px */
      width: clamp(7.5rem, 12vw, 13.75rem);
      height: auto;
      display: block;
      position: absolute;
      /* -48px - -96px */
      top: calc(clamp(3rem, 8vw, 4rem) * -1);
      z-index: -1;
    }

    .cs-quote {
      /* 25px - 49px */
      font-size: clamp(1.3625rem, 4.8vw, 2.7625rem);
      font-weight: 700;
      line-height: 1.2em;
      text-align: center;
      max-width: 45ch;
      /* 24px - 32px */
      margin: 0 0 clamp(1.5rem, 3vw, 2rem);
      color: var(--bodyTextColorWhite);
    }

    .cs-name {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
      font-weight: 700;
      line-height: 1.2em;
      margin: 0 0 (8/16rem) 0;
      color: var(--primary);
      display: block;
    }

    .cs-job {
      font-size: (16/16rem);
      line-height: 1.5em;
      color: var(--bodyTextColorWhite);
      display: block;
      opacity: 0.8;
    }
  }
}

/*-- -------------------------- -->
<---           Blog             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #blog-2082 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      max-width: (1280/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-title {
      max-width: 25ch;
    }

    .cs-text {
      /* 48px - 64px */
      margin-bottom: clamp(3rem, 6vw, 4rem);
    }

    .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: (20/16rem);
    }

    .cs-item {
      text-align: left;
      list-style: none;
      overflow: hidden;
      border: 1px solid #e8e8e8;
      border-radius: (16/16rem);
      grid-column: span 12;
      position: relative;
      z-index: 1;
      transition:
        box-shadow 0.3s,
        transform 0.3s;

      &:hover {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        .cs-h3 {
          color: var(--primary);
        }

        .cs-picture {
          img {
            transform: scale(1.1);
          }
        }
      }
    }

    .cs-picture {
      width: 100%;
      max-height: (320/16rem);
      min-height: (280/16rem);
      background-color: #1a1a1a;
      overflow: hidden;
      display: block;
      position: relative;
      z-index: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        transition:
          transform 0.6s,
          opacity 0.3s;
      }
    }

    .cs-flex {
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      /* 16px - 24px */
      padding: clamp(1rem, 2vw, 1.5rem);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: (16/16rem);
      position: relative;
      z-index: 2;
    }

    .cs-date {
      font-size: (16/16rem);
      font-weight: 700;
      line-height: 1.2em;
      text-align: center;
      margin: 0;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      padding: (8/16rem) (12/16rem);
      background-color: var(--primary);
      color: #fff;
      border-radius: (8/16rem);
      display: flex;
      flex-direction: column;
      position: absolute;
      top: (-24/16rem);
      /* 16px - 24px */
      right: clamp(1rem, 2vw, 1.5rem);
      z-index: 2;
    }

    .cs-info-wrapper {
      display: flex;
      flex-direction: row;
      gap: (8/16rem);
    }

    .cs-category,
    .cs-comments {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      font-weight: 400;
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
      display: flex;
      align-items: center;
      gap: (8/16rem);
    }

    .cs-icon {
      width: (20/16rem);
      height: auto;
    }

    .cs-link {
      font-size: (16/16rem);
      font-weight: 700;
      line-height: 1.2em;
      text-decoration: none;
      margin-top: auto;
      color: var(--primary);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cs-h3 {
      /* 16px - 25px */
      font-size: clamp(1rem, 2vw, 1.5625rem);
      font-weight: 700;
      line-height: 1.2em;
      text-align: inherit;
      margin: 0;
      color: var(--headerColor);
      transition: color 0.3s;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #blog-2082 {
    .cs-item {
      grid-column: span 4;
    }

    .cs-info-wrapper {
      flex-direction: column;
    }
  }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #blog-2082 {
    .cs-info-wrapper {
      flex-direction: row;
    }
  }
}
